<%- include('bootheader') -%>
<%- include('menubar') -%>
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
      <style>
      *{
      font-family: 'Dosis', sans-serif;
      font-size:20px;
      text-color: white
      }
      </style>
      <div class="row">
        <div class="col-md col-sm-2">

        </div>
        <div class="col-lg col-lg">
          <div>
          <!-- <head class="display text-white"><button type="button-large" class="btn-large btn-lg btn-primary" disabled>Connect On Commute</head> -->
          </div>
        </div>
        <div class="col-md col-sm-6">

        </div>
      </div>



      <div class="row">

        <div class="col-md col-md">
          <div>
            <div>

            </div>
          </div>
        </div>
        <div class="col-lg col-lg">
          <h3 class="display-3 text-white"><button type="button" class="btn btn-sm btn-primary" disabled>Helping people meet people they see daily on their commute!</h3>
        </div>
      </div>
      <div class="row">

        <div class="col-md col-md">
          <div>
            <div>

              <img src="images/connect.jpg" class="rounded float-right" alt="connect logo, 2 people talking as cartoon" height= "200", width = "500">
            </div>
          </div>
        </div>
        <div class="col-lg col-lg">
          <h3 class="display-3 text-white"><button type="button" class="btn btn-sm btn-primary" disabled>Social skills...not social media</h3>
        </div>
      </div>

      <div class="row">

        <div class="col-md col-md">
          <div>
            <div>

            </div>
          </div>
        </div>
        <div class="col-lg col-lg">
          <h3 class="display-3 text-white"><button type="button" class="btn btn-sm btn-primary" disabled>Connecting people through person-to-person interactions</h3>
        </div>
      </div>












<%- include('bootfooter') -%>

<%# .btn-opacity:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.btn-opacity {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
} %>

<%# navbar opacity %> %>
