<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
      <style>
      *{
      font-family: 'Dosis', sans-serif;
      font-size:25px;
      }
      </style>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="background-color: #e3f2fd;">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/"><h1> Home<h1></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/showComments"><h1>Stories<h1></a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/guide"><h1>Free Guide!<h1></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/mission"><h1>Mission</h1></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/auth/google"><h1> Login</h1></a>
        </li>



      <% if (loggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/forum">Forum</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="/logout"> Logout</a>
      </li>
      <% } else { %>

        <% }  %>
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
